/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-font-stack: Papyrus, fantasy;
$secondary-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;
$tertiary-font-stack: 

h1, h2, h3,h4 {
	font-family: $primary-font-stack;
}